{% extends "admin/change_form.html" %}
 

{% block after_field_sets %}{{ block.super }}
{% if change %}
			You are changing {{ original }}
			
 
 <!--  
<a href="#" onclick="call_ajax('{% url admin:Properties_typedataproperty_add%}','phasechange')">Click here</a>
<a href="{% url admin:Properties_typedataproperty_add%}">Click here </a>     
 <a href="#" onclick="call_ajax('{% url admin:Properties_typedataproperty_delete 11%}','phasechange')">Click here</a>
 <a href="#" onclick="call_ajax('{% url admin:Properties_typedataproperty_detail 11 1%}','phasechange')">Click here</a>
 
 <a href="{% url admin:Properties_typedataproperty_detail 11 1%}">Click here </a>
 -->
 
 <a href="#" onclick="call_ajax('{% url admin:Properties_typedataproperty_detail 11 1%}','phasechange')">Click here</a>
 
 
   <script>
   function refreshdetail(obj)
   {
	   alert(obj.value)
 
	   var list = document.getElementsByName("catalogproperty");

	   for (var item of list) {
	 
		   alert(item.id)
		   alert(item.value)
		   alert( item.selectedIndex); 
		   var x = item.options[item.selectedIndex].text
		   alert(x);
		 }
	   
	   var list = document.getElementsByName("type");

	   for (var item of list) 
	   {
		   alert(item.id)
		   alert(item.value)
		   alert( item.selectedIndex); 
		   var x = item.options[item.selectedIndex].text
		   alert(x);
		 }
        
	    
	    
   }
    function call_ajax(url,todo) 
    {
    	    alert(url);
    	    return
    	    
	        $.ajax({
	       	 type: "POST",
	           url: url,
	           data: datasend,
	           dataType: 'json',
	           success: function (data) 
	           {
		      		 if (data.error == "")
				     {
				         	if (data.in_list) 
				         	{
				         		    //
				         	}
				         	else
				         	{
				         			//
				         	}
		             }
	            }
	         });
    
    }
    </script>

{% else %}
			This is a new objecct
{% endif %} 


{% endblock %} 


 