{% extends "admin/change_form.html" %}


{% block extrahead %}
{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
{{ media }}
<!-- start: two new lines for highcharts -->
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<!-- end: two new lines for highcharts -->
{% endblock %}
 


{% block after_field_sets %}{{ block.super }}
 <input type='hidden' id="id_todo" name='todo' value='' />
{% if change %}
			You are changing {{ original }} 
			<div id="content">
				<div id="tabledetaildiv" class="results">

				</div>
			</div>
			
<script type="text/javascript" charset="utf-8">
/*
var chart;
$(document).ready(function() {
	
	    $('#id_catalogcrystalsystem').change(function ()
	     {
	    	alert(this.value);
	    	//alert($('#id_dataproperty').val());
	      });
});
*/
</script>
{% else %}
			This is a new objecct
			

{% endif %} 

<script type="text/javascript" charset="utf-8">
var chart;
$(document).ready(function() {
		 
	    $('#id_catalogproperty').change(function ()
	     {
	    	//alert(this.value);
	    	$('#id_todo').val('selectcatalogpropertyChange')
	    	
	    	//$(this).closest('form').trigger('submit');
	    	//alert($('#typedataproperty_form').name);
	    	$( "#typedataproperty_form" ).submit();
	    	
	     });
	  
	    
	    $('#id_type').change(function ()
	   	     {
	    		$('#id_todo').val('selecttypeChange')
	    		$( "#typedataproperty_form" ).submit();
	    	 
	   	      });
	    
	    $('#id_catalogcrystalsystem').change(function ()
	   	     {
	    		$('#id_todo').val('selectcatalogcrystalsystemChange')
	    		$( "#typedataproperty_form" ).submit();
	    	 
	   	    	
	   	      });
	    
	    $('#id_dataproperty').change(function ()
   	     {
	    	$('#id_todo').val('selectdatapropertyChange')
    		$( "#typedataproperty_form" ).submit();
   	      });
	    
         
});
</script>


{% endblock %} 


 