#py binary
*.pyc
*.stl
mpod/plantillas/admin/properties/typedataproperty/Copy of change_form.html
mpod/plantillas/admin/properties/typedataproperty/Copy (2) of change_form.html
mpod/plantillas/admin/properties/puntualgroupsdetail_old/change_form.html
*.stl
*.stl
media/stlfiles/1000377magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000377magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000377magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000377magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000375magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000375magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000375magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000375magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000374magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000374magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000374magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000374magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000373magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000373magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000372magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000372magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000372magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000372magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000371magnetostrictionMagnetoMiddleResolution.stl
media/stlfiles/1000371magnetostrictionMagnetoLowResolution.stl
media/stlfiles/1000371magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000371magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyMagneticMiddleResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyMagneticLowResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000370magnetostrictionMagnetoMiddleResolution.stl
media/stlfiles/1000370magnetostrictionMagnetoLowResolution.stl
media/stlfiles/1000370magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000370magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyMagneticMiddleResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyMagneticLowResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000369magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000369magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyMagneticMiddleResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyMagneticLowResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000327elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000327elasticstiffnesscijLowResolution.stl
media/stlfiles/1000314thermoelectricSeebeckSeijR2MidleResolution.stl
media/stlfiles/1000314thermoelectricSeebeckSeijR2LowResolution.stl
media/stlfiles/1000306elasticcompliancesijEMidleResolution.stl
media/stlfiles/1000306elasticcompliancesijELowResolution.stl
media/stlfiles/1000306dielectricpermittivityrelativeepsrijSR2MidleResolution.stl
media/stlfiles/1000306dielectricpermittivityrelativeepsrijSR2LowResolution.stl
media/stlfiles/1000304piezoelectricgijR3MidleResolution.stl
media/stlfiles/1000304piezoelectricgijR3LowResolution.stl
media/stlfiles/1000286elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000286elasticstiffnesscijLowResolution.stl
media/stlfiles/1000215elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000215elasticstiffnesscijLowResolution.stl
media/stlfiles/1000207elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000207elasticstiffnesscijLowResolution.stl
media/stlfiles/1000162elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000162elasticstiffnesscijLowResolution.stl
media/stlfiles/1000157elasticcompliancesijMidleResolution.stl
media/stlfiles/1000157elasticcompliancesijLowResolution.stl
media/stlfiles/1000145elasticcompliancesijMidleResolution.stl
media/stlfiles/1000145elasticcompliancesijLowResolution.stl
media/stlfiles/1000126elasticcompliancesijMidleResolution.stl
media/stlfiles/1000126elasticcompliancesijLowResolution.stl
media/stlfiles/1000101elasticcompliancesijMidleResolution.stl
media/stlfiles/1000101elasticcompliancesijLowResolution.stl
media/stlfiles/1000094piezoelectricdijR3MidleResolution.stl
media/stlfiles/1000094piezoelectricdijR3LowResolution.stl
media/stlfiles/1000093elasticcompliancesijMidleResolution.stl
media/stlfiles/1000093elasticcompliancesijLowResolution.stl
media/stlfiles/1000087elasticcompliancesijMidleResolution.stl
media/stlfiles/1000087elasticcompliancesijLowResolution.stl
media/stlfiles/1000068elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000068elasticstiffnesscijLowResolution.stl
media/stlfiles/1000062elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000062elasticstiffnesscijLowResolution.stl
media/stlfiles/1000061elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000061elasticstiffnesscijLowResolution.stl
media/stlfiles/1000059elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000059elasticstiffnesscijLowResolution.stl
media/stlfiles/1000056thermalconductivitykappaijR2MidleResolution.stl
media/stlfiles/1000056thermalconductivitykappaijR2LowResolution.stl
media/stlfiles/1000055piezoelectriceijR3MidleResolution.stl
media/stlfiles/1000055piezoelectriceijR3LowResolution.stl
media/stlfiles/1000055elasticstiffnesscijEMiddleResolution.stl
media/stlfiles/1000055elasticstiffnesscijELowResolution.stl
media/stlfiles/1000047piezoelectricgijR3MidleResolution.stl
media/stlfiles/1000047piezoelectricgijR3LowResolution.stl
media/stlfiles/1000041piezoelectricgijR3MidleResolution.stl
media/stlfiles/1000041piezoelectricgijR3LowResolution.stl
media/stlfiles/1000031piezoopticpiijR4MiddleResolution.stl
media/stlfiles/1000031piezoopticpiijR4LowResolution.stl
media/stlfiles/1000030elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000030elasticstiffnesscijLowResolution.stl
media/stlfiles/1000024elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000024elasticstiffnesscijLowResolution.stl
media/stlfiles/1000023elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000023elasticstiffnesscijLowResolution.stl
media/stlfiles/1000015elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000015elasticstiffnesscijLowResolution.stl
media/sofiles/64/routine_piezocentos64.so
media/sofiles/64/routine_piezo.so
media/sofiles/64/polyfib.so
media/sofiles/64/matrix.dat
media/sofiles/64/Hello_f2pyw64.so
media/sofiles/64/Hello_f2pylinuxcentos64.so
media/sofiles/64/Hello_f2pylinux.so
media/sofiles/32/mult.so
media/sofiles/32/Hello_f2py.so
data/testmpodvalidator.py
data/testing.py
data/testfilempod.py
data/Copy of forms.py
media/stlfiles/1000377magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000377magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000377magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000377magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000375magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000375magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000375magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000375magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000374magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000374magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000374magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000374magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000373magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000373magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000372magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000372magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000372magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000372magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000371magnetostrictionMagnetoMiddleResolution.stl
media/stlfiles/1000371magnetostrictionMagnetoLowResolution.stl
media/stlfiles/1000371magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000371magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyMagneticMiddleResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyMagneticLowResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000371magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000370magnetostrictionMagnetoMiddleResolution.stl
media/stlfiles/1000370magnetostrictionMagnetoLowResolution.stl
media/stlfiles/1000370magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000370magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyMagneticMiddleResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyMagneticLowResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000370magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000369magnetostrictionlambda100,lambda111MagnetoMiddleResolution.stl
media/stlfiles/1000369magnetostrictionlambda100,lambda111MagnetoLowResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyMagneticMiddleResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyMagneticLowResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyk1,k2MagneticMiddleResolution.stl
media/stlfiles/1000367magnetocrystallineanisotropyk1,k2MagneticLowResolution.stl
media/stlfiles/1000327elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000327elasticstiffnesscijLowResolution.stl
media/stlfiles/1000314thermoelectricSeebeckSeijR2MidleResolution.stl
media/stlfiles/1000314thermoelectricSeebeckSeijR2LowResolution.stl
media/stlfiles/1000306elasticcompliancesijEMidleResolution.stl
media/stlfiles/1000306elasticcompliancesijELowResolution.stl
media/stlfiles/1000306dielectricpermittivityrelativeepsrijSR2MidleResolution.stl
media/stlfiles/1000306dielectricpermittivityrelativeepsrijSR2LowResolution.stl
media/stlfiles/1000304piezoelectricgijR3MidleResolution.stl
media/stlfiles/1000304piezoelectricgijR3LowResolution.stl
media/stlfiles/1000286elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000286elasticstiffnesscijLowResolution.stl
media/stlfiles/1000215elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000215elasticstiffnesscijLowResolution.stl
media/stlfiles/1000207elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000207elasticstiffnesscijLowResolution.stl
media/stlfiles/1000162elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000162elasticstiffnesscijLowResolution.stl
media/stlfiles/1000157elasticcompliancesijMidleResolution.stl
media/stlfiles/1000157elasticcompliancesijLowResolution.stl
media/stlfiles/1000145elasticcompliancesijMidleResolution.stl
media/stlfiles/1000145elasticcompliancesijLowResolution.stl
media/stlfiles/1000126elasticcompliancesijMidleResolution.stl
media/stlfiles/1000126elasticcompliancesijLowResolution.stl
media/stlfiles/1000101elasticcompliancesijMidleResolution.stl
media/stlfiles/1000101elasticcompliancesijLowResolution.stl
media/stlfiles/1000094piezoelectricdijR3MidleResolution.stl
media/stlfiles/1000094piezoelectricdijR3LowResolution.stl
media/stlfiles/1000093elasticcompliancesijMidleResolution.stl
media/stlfiles/1000093elasticcompliancesijLowResolution.stl
media/stlfiles/1000087elasticcompliancesijMidleResolution.stl
media/stlfiles/1000087elasticcompliancesijLowResolution.stl
media/stlfiles/1000068elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000068elasticstiffnesscijLowResolution.stl
media/stlfiles/1000062elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000062elasticstiffnesscijLowResolution.stl
media/stlfiles/1000061elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000061elasticstiffnesscijLowResolution.stl
media/stlfiles/1000059elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000059elasticstiffnesscijLowResolution.stl
media/stlfiles/1000056thermalconductivitykappaijR2MidleResolution.stl
media/stlfiles/1000056thermalconductivitykappaijR2LowResolution.stl
media/stlfiles/1000055piezoelectriceijR3MidleResolution.stl
media/stlfiles/1000055piezoelectriceijR3LowResolution.stl
media/stlfiles/1000055elasticstiffnesscijEMiddleResolution.stl
media/stlfiles/1000055elasticstiffnesscijELowResolution.stl
media/stlfiles/1000047piezoelectricgijR3MidleResolution.stl
media/stlfiles/1000047piezoelectricgijR3LowResolution.stl
media/stlfiles/1000041piezoelectricgijR3MidleResolution.stl
media/stlfiles/1000041piezoelectricgijR3LowResolution.stl
media/stlfiles/1000031piezoopticpiijR4MiddleResolution.stl
media/stlfiles/1000031piezoopticpiijR4LowResolution.stl
media/stlfiles/1000030elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000030elasticstiffnesscijLowResolution.stl
media/stlfiles/1000024elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000024elasticstiffnesscijLowResolution.stl
media/stlfiles/1000023elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000023elasticstiffnesscijLowResolution.stl
media/stlfiles/1000015elasticstiffnesscijMiddleResolution.stl
media/stlfiles/1000015elasticstiffnesscijLowResolution.stl
data/tests.py
data/testpolyfib.py
data/testParser.py
data/testing.py
data/testmpodvalidator.py
data/testfilempod.py
data/test_so_and_pyd.py
data/test_pyd.py
data/pydfiles/Hello_f2py.pyd
data/Loader.py
data/fileparser.py
data/Copy of Propertiesv2.py
data/Copy of forms.py
data/Copy of ExtractorDataFromCIF.py
data/tests.py
data/testmpodvalidator.py
data/testing.py
data/tests.py
data/testmpodvalidator.py
data/testing.py
