
   <script type="text/javascript">	

	
  </script>
   {% for t in listtensortags %}	
		
		<script type="text/javascript">
		  
		  parseTensorTag('{{t}}');
		  </script>
{% endfor %}

{% if formatted_data_blocks %}
	{% for block in formatted_data_blocks %}
		{% if block.0 %}
			<h5>General experimental conditions/parameters</h5>
			<div class="table-responsive">
				<table class="table table-striped table-condensed table-hover sm_table" >
					<tbody>
			 
						{% for nlp in block.0 %}
							<tr>
								<td><a href="/exparcond/{{nlp.1}}">{{nlp.0}}</a></td>
								<td>{{nlp.2}}</td>
								<td>:</td> 
								<td>{{nlp.3}} </td>
							</tr>
						{% endfor %}
 
					</tbody>
				</table>
			</div>
			<br />
		{% endif %}
		{% if block.1 %}

			{% for sec in block.1 %}
				{% if sec.0 %}
					{% if sec.0.0 %}
							<h6>Other experimental conditions/parameters</h6>
							<div class="table-responsive">
								<table class="table table-striped table-condensed table-hover sm_table">
									<tbody>
										{% for lp in sec.0 %}
											<tr>
												<td><a href="/exparcond/{{lp.1}}">{{lp.0}}</a></td>
												<td>{{lp.2}}</td>
												<td>:</td>
												<td>{{lp.3}}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<br />
					{% endif %}
					{% if sec.1 %}

					
						<h6>Properties' values</h6>
						{% for tens_prop in sec.1 %}			
							<script type="text/javascript">
							    url = "{% url rotatematrix 0000000 -1%}";
							    url = url.replace(/0/, codefile.toString());

							    parseTensorValue("{{tens_prop.1}}","{{tens_prop.0}}","{{tens_prop.3}}",codefile,url);


							</script>
														   
							<a href="/properties/{{tens_prop.1}}">{{tens_prop.0}}</a> {{tens_prop.2}}
								<div class="table-responsive">
								<table >
								<tr>
								<td>
									<table class="table table-striped table-condensed table-hover sm_table" >
										<tbody>
											 
											{% for tens_row in tens_prop.3 %}
						
												<tr>
													{% for tens_val in tens_row %}
						 
														<td> {{tens_val}} </td>
													{% endfor %}
													
												</tr>
											{% endfor %}
										</tbody>
									</table>
									</td> 
										
										<script type="text/javascript">
											document.write(html_tdseparatorpaddingleft);
											document.write(html_tdrotated_matrix);											
								       </script>
								 
									</tr>
								</table>
									 
								</div>
							<br />
							 <div style="border:0px solid black;">
							   <table border="0" >
							   <tr > 
							   <td >
								<script type="text/javascript">

									
								    document.write(html_colorandbtngraph);
									document.write('</td>');  
									document.write("<td  style='padding: 0px 0px 0px "+ tdbuttonpaddingleft +"px;' >");  
									document.write('</td>');  
									document.write('<td>');  
									
									document.write(html_btnpolycrystalline);		
									
									document.write(html_lbl_h);
									document.write(html_input_h);
									
									document.write(html_lbl_k );
									document.write(html_input_k);
											
									document.write(html_lbl_l);
									document.write(html_input_l );
									
									document.write(html_lbl_omega );
									document.write(html_input_omega );
								
									document.write(html_spanbnt );
									document.write(html_spangraph );

									//console.log(html_input_omega);
									
									
									document.write('</td>');  
	
									 
	
								</script>
								
								  
								  
	                              </tr>
	                             </table>
								</div>
						{% endfor %}
					{% endif %}
				{% else %}
					{% if sec.1 %}
						<div class="table-responsive sm_table">
							<table class="table table-striped table-condensed table-hover">
								<th>
									<tr> {% for item in sec.1.0 %}
												{% if item.3 %}
													<th> <a href="/properties/{{item.1}}">{{item.0}}{{item.2}}</a> </th>
												{% else %}
												   <th> <a href="/exparcond/{{item.1}}">{{item.0}}{{item.2}}</a> </th>
												{% endif %}  
										  {% endfor %} 
									</tr>
								</th>
								<tbody>
									{% for riga in sec.1.1 %}
										<tr>{%for ele in riga%}<td>{{ele}}</td>{% endfor %}</tr>
									{% endfor %}
								</tbody>
							</table>
							<br />
						</div>					
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}