{% extends "admin/change_form.html" %}


{% block extrahead %}
{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
{{ media }}
<!-- start: two new lines for highcharts -->
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<!-- end: two new lines for highcharts -->
{% endblock %}
 


{% block after_field_sets %}{{ block.super }}
 <input type='hidden' id="id_todo" name='todo' value='' />
{% if change %}
			You are changing {{ original }} 
 

{% else %}
			This is a new objecct
			

{% endif %} 



{% endblock %} 


 