{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Introduction {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
  <div class="content">
	  <h3>Introduction</h3>
	  <br/>
	  In the present database, properties are reported in mpod files. The original published paper containing the data is cited.  Available structural and experimental information is given. One mpod file contains information relative to only one publication and one phase. When known, a  <a href="http://www.crystallography.net/" target="_blank">COD</a>  reference to a CIF File associated to the same phase/material is indicated. Information can be searched according to the required property, the name of the phase, the elements contained, the COD code or an author of the referenced publication. 
	  <br/><br/>
	  The mpod files can be downloaded for local use. The information contained in a file can be read in matrix form, visualized as longitudinal properties surfaces and printed in three dimensions.
  </div>
{% endblock %}
