{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Search by Composition {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
 
 

			<div class="row align-items-center">
						
			    <div  class="col-md-3 col-md-offset-5">
				   	 {% if message %}
						    	  <div class="alert alert-danger fade in alert-dismissable">
									  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
									  <strong>Login Failed.</strong> {{message }}
									</div>
						 {% endif %} 
				   <div class="container-fluid">
				
							   <div class="wrapper">
						    <form class="form-signin" action="/viewloginauthentication/" method="POST">     
						    	  {% csrf_token %}      
						      <h2 class="form-signin-heading">Please login</h2>
						      {% for field in form %}
						      <label for="title">{{ field.label_tag }}:</label>
						       {% if field.name != "password" %}
						      <input type="text" class="form-control" name="{{ field.name}}" placeholder="{{ field.name}}" required="" autofocus="" />
						       {% else %}
						      <input type="password" class="form-control" name="{{ field.name}}" placeholder="{{ field.name}}" required=""/>     
						       {% endif %} 
						      {% endfor %}
						      <!--  
						      <label class="checkbox">
						        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
						      </label>
						      -->
						      </br>
						      <button class="btn btn-lg btn-warning btn-block" type="submit">Login</button>   
						    </form>
						  </div>
						  
		
						
						
					 
			  </div>
			</div>
		</div>
	  

{% endblock %}