{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Team {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="#daniel">Daniel Chateigner</a></li>
          <li><a href="#luis">Luis Fuentes</a></li>
          <li><a href="#giancarlo">Giancarlo Pepponi</a></li>
          <li><a href="#saulius">Saulius Grazulis</a></li>
          <li><a href="#diana">Jorge Alberto Torres</a></li>
          <li><a href="#diana">Diana Ramírez</a></li>
          <li><a href="#miguel">Miguel Chávez</a></li>
          <li><a href="#adriana">Adriana Ramos</a></li>
          <li><a href="#alfredo">Alfredo Ledezma</a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="contentCredits">
          <h3>MPOD Team</h3>
          <br/>
          <!-- DANIEL CHATEIGNER DANIEL CHATEIGNER DANIEL CHATEIGNER DANIEL CHATEIGNER -->
          <div class="backgroundCredits">
            <center><h3><a href="http://www.ecole.ensicaen.fr/~chateign/danielc/" target="_blank" name="daniel">Daniel Chateigner</a></h3><br/>
            <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/" target="_blank"><img class="img-circle" src="{{STATIC_URL}}img/daniel.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a></center><br/>
            <p>
              Daniel is professor at the Physics Measurements Department, Technological Institute (IUT), University of Caen Basse-Normandie and research scientist at the Laboratoire de Cristallographie et Sciences des Matériaux(CRISMAT), Ecole Nationale Supérieure d'Ingénieurs de Caen (ENSICAEN), France.
              <br/><br/>
            </p>
              <center>
                <div>
                  <p>
                      &#160;&#160;&#160;&#160;&#160;&#160;
                    <a href="http://iut-caen.unicaen.fr/" target="_blank" name="IUT_home">
                      <img src="{{STATIC_URL}}img/logo_iutcaen.gif" style="width: 70px; height: 70px;">
                    </a>
                  
                      &#160;&#160;&#160;&#160;&#160;&#160;
                    <a href="http://www.unicaen.fr/" target="_blank" name="unicaen_home">
                      <img src="{{STATIC_URL}}img/logo_ucbn.png" style="width: 140px; height: 70px;">
                    </a>
                      &#160;&#160;&#160;&#160;&#160;&#160;
                    <a href="http://www.ensicaen.fr/" target="_blank" name="crismat_home">
                      <img src="{{STATIC_URL}}img/logo_ensicaen.png" style="width: 140px; height: 70px;">
                    </a>
                      &#160;&#160;&#160;&#160;&#160;&#160;
                    <a href="http://www-crismat.ensicaen.fr" target="_blank" name="ensicaen_home">
                      <img src="{{STATIC_URL}}img/logo_crismat.png" style="width: 70px; height: 70px;">
                    </a>
                  </p>
                </div>
              </center>
          </div>
          <!-- DANIEL CHATEIGNER DANIEL CHATEIGNER DANIEL CHATEIGNER DANIEL CHATEIGNER -->
          <br/><br/>
          <!-- LUIS FUENTES LUIS FUENTES LUIS FUENTES LUIS FUENTES LUIS FUENTES LUIS FUENTES -->
          <div class="backgroundCredits">
            <center><h3><a href="https://scholar.google.com.mx/citations?user=2-RbQeYAAAAJ&hl=es" target="_blank" name="luis">Luis Fuentes</a></h3><br/>
            <a href="https://scholar.google.com.mx/citations?user=2-RbQeYAAAAJ&hl=es" target="_blank"><img class="img-circle" src="{{STATIC_URL}}img/luis.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a></center><br/>
            <p>
              Luis is a research scientist at the Centro de Investigación en Materiales Avanzados (CIMAV), Chihuahua, Mexico.
              <br/><br/>
              <center>
                <div>
                  <a href="http://www.cimav.edu.mx/" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/cimav-logo.png" style="width: 100px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- LUIS FUENTES LUIS FUENTES LUIS FUENTES LUIS FUENTES LUIS FUENTES LUIS FUENTES -->
          <br/><br/>
          <!-- GIANCARLO PEPPONI GIANCARLO PEPPONI GIANCARLO PEPPONI GIANCARLO PEPPONI -->
          <div class="backgroundCredits">
            <center><h3><a  name="giancarlo">Giancarlo Pepponi</a></h3><br/>
            <img class="img-circle" src="{{STATIC_URL}}img/giancarlo.jpg" alt="Giancarlo Pepponi" style="width: 140px; height: 140px;"></center><br/>
            <p>
              Giancarlo is a research scientist at the Fondazione Bruno Kessler, and works in the MiNALab Unit of the Centre for Materials and Microsystems, Trento, Italy.
              <br/><br/>
              <center>
                <div>
                  <a href="http://www.fbk.eu" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/fbk_logo.jpg" style="width: 80px; height: 70px;">
                  </a>
                        &#160;&#160;&#160;&#160;&#160;&#160;
                  <a href="http://cmm.fbk.eu/" target="_blank" name="cmm">
                    <img src="{{STATIC_URL}}img/logo-en.png" style="width: 160px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- GIANCARLO PEPPONI GIANCARLO PEPPONI GIANCARLO PEPPONI GIANCARLO PEPPONI -->
          <br/><br/>
          <!-- SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS -->
          <div class="backgroundCredits">
            <center><h3><a  name="saulius">Saulius Grazulis</a></h3><br/>
            <img class="img-circle" src="{{STATIC_URL}}img/saulius.jpg" alt="Saulius Grazulis" style="width: 140px; height: 140px;"></center><br/>
            <p>
              Department of Protein – DNA Interactions, Vilnius University Institute of Biotechnology,
Vilnius and Department of Mathematical Computer Science, Vilnius University Faculty of Mathematics and Informatics, Vilnius, Lithuania.
              <br/><br/>
              <center>
                <div>
                  <a href="http://www.vu.lt/en/" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/vilnius.png" style="width: 70px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS -->
          <br/><br/>
           <!-- SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS -->
          <div class="backgroundCredits">
            <center><h3><a  name="saulius">Jorge Alberto Torres</a></h3><br/>
            <img class="img-circle" src="{{STATIC_URL}}img/jorgetorres.png" alt="Jorge Alberto Torres" style="width: 140px; height: 140px;"></center><br/>
            <p>
              Jorge is a engineer in software systems in software of the engineering faculty of the Universidad Autonoma de Chihuahua, México.
              <br/><br/>
              <center>
                <div>
                  <a href="http://fing.uach.mx/" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/fing.png" style="width: 70px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS SAULIUS GRAZULIS -->
          <br/><br/>
          <!-- DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA  -->
          <div class="backgroundCredits">
            <center><h3><a  name="diana">Diana Cecilia Ramírez Ramírez</a></h3><br/>
            <img class="img-circle" src="{{STATIC_URL}}img/diana.jpg" alt="Diana Cecilia Ramírez Ramírez" style="width: 140px; height: 140px;"></center><br/>
            <p>
              Diana is a Computer Systems Engineer of the Instituto Tecnológico de Chihuahua II, Chihuahua, México.
              <br/><br/>
              <center>
                <div>
                  <a href="http://www.itchihuahuaii.edu.mx/" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/tecii.png" style="width: 70px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA DIANA  -->
          <br/><br/>
          <!-- MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL -->
          <div class="backgroundCredits">
            <center><h3><a  name="miguel">Miguel Angel Chávez Reza</a></h3><br/>
            <img class="img-circle" src="" alt="Miguel Angel Chávez Reza" style="width: 140px; height: 140px;"></center><br/>
            <p>
              Department of Protein – DNA Interactions, Vilnius University Institute of Biotechnology,
Vilnius and Department of Mathematical Computer Science, Vilnius University Faculty of Mathematics and Informatics, Vilnius, Lithuania.
              <br/><br/>
              <center>
                <div>
                  <a href="http://www.itchihuahuaii.edu.mx/" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/tecii.png" style="width: 70px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL MIGUEL -->
          <br/><br/>
          <!-- ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS -->
          <div class="backgroundCredits">
            <center><h3><a href="http://cimav.edu.mx/perfil/adriana.ramos" name="adriana">Adriana Ramos</a></h3><br/>
            <a href="http://cimav.edu.mx/perfil/adriana.ramos" target="_blank"><img class="img-circle" src="{{STATIC_URL}}img/Adrianampod.jpg" alt="Adriana Ramos" style="width: 140px; height: 160px;"></a></center><br/>
            <p>
              Adriana is a technician at the Centro de Investigación en Materiales Avanzados (CIMAV), Chihuahua, Mexico.
              <br/><br/>
              <center>
                <div>
                  <a href="http://cimav.edu.mx/" target="_blank" name="fbk">
                    <img src="{{STATIC_URL}}img/cimav-logo.png" style="width: 100px; height: 70px;">
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS ADRIANA RAMOS -->
          <br/><br/>
          <!-- ALFREDO LEDEZMA ALFREDO LEDEZMA ALFREDO LEDEZMA ALFREDO LEDEZMA ALFREDO LEDEZMA -->
          <div class="backgroundCredits">
            <center><h3><a name="alfredo">Alfredo Ledezma</h3></a><br/>
            <img class="img-circle" src="{{STATIC_URL}}img/alfredo.jpg" alt="Alfredo Ledezma" style="width: 150px; height: 160px;"></center><br/>
            <p>
              Alfredo is a student at the Universidad Tecnológica de Chihuahua, Chihuauha, Mexico.
              <br/><br/>
              <center>
                <div>
                  <a href="http://cimav.edu.mx/" target="_blank" name="fbk">
                    
                  </a>
                </div>
              </center>
            </p>
          </div>
          <!-- ALFREDO LEDEZMA ALFREDO LEDEZMA ALFREDO LEDEZMA ALFREDO LEDEZMA ALFREDO LEDEZMA -->
        </div>  
      </div>
    </div>
  </div>
{% endblock %}
