{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} References {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
  <div class="content">
    <h3>References</h3>
    <br/>
    <h4>A) Articles and presentations about MPOD</h4>
    
    <p>Pepponi G, Grazulis S, Chateigner D: “MPOD: a Material Property Open Database linked to structural information”. Nuclear Instruments and Methods in Physics Research B 284, 10-14 (2012). <a href="http://www.ecole.ensicaen.fr/~chateign/pdf/Pepponi_NIMPRB284_10.pdf" target="_blank">http://www.ecole.ensicaen.fr/~chateign/pdf/Pepponi_NIMPRB284_10.pdf</a>.
    </p>

    <p>Pepponi G, Grazulis S, Chateigner D: “MPOD: a Material Property Open Database linked to structural information”. European Materials Research Society spring meeting (E-MRS 2011), Symposium M: X-ray techniques for materials research - from laboratory sources to free electron lasers. 9-13 Mai, Nice, France. <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/posters/Pepponi_poster_EMRS2011_MPOD.pdf" target="_blank">Poster</a>, <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/abstracts/Pepponi_abstract_EMRS2011_MPOD.pdf" target="_blank">Abstract</a>.
    </p>

    <p>Chateigner D, Pepponi G, Grazulis S: “MPOD: a Material Property Open Database linked to structural information”. International Conference on Texture of Materials 16 (ICOTOM 16), 12 - 17 Dec. 2011, Bombay, India. <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/slides/Chateigner_slides_ICOTOM2011_MPOD.pdf" target="_blank">Invited contribution</a>, <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/abstracts/Chateigner_abstract_ICOTOM2011_MPOD.pdf" target="_blank">Abstract</a>.
    </p>

    <p>Muñoz-Romero A, Fuentes-Montero l, Montero-Cabrera ME, Trivedi U, Fuentes-Cobas LE: “Textured Multiferroics: 2-D Diffraction and Properties Prediction”. International Conference on Texture of Materials 16 (ICOTOM 16), 12 - 17 Dec. 2011, Bombay, India. <a href="" target="">Oral presentation</a>, <a href="" target="">Abstract</a>.
    </p>

    <p>D. Chateigner, S. Grazulis, J. Butkus, A. Merkys, A. Daskevic, O. Perez, G. Pepponi, L. Lutterotti, M. Quiros Olozabal, A. Le Bail, R. Downs, P. Moeck, A.F.T. Yokochi. “News in Open Databases COD, PCOD, TCOD, MPOD, FPSM”. Workshop on Scientific Data Preservation, 14-15 Nov. 2013, Marseille, France. Invited Contribution.
    </p>

    <p>Saulius Grazulis, Giancarlo Pepponi, Justas Butkus, Andrius Merkys, Adriana Daskevic, Armel Le Bail, Robert Downs, Luca Lutterotti, Peter Moeck, Miguel Quiros Olozabal, Chateigner D.: “Crystallography Open Database (COD), Predicted Crystallography Open Database (PCOD) and Material Properties Open Database (MPOD)”. Australian X-ray Analytical Association (AXAA 2011), 6 - 11 Feb. 2011, Sydney, Australia. <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/posters/Grazulis_poster_AXAA2011.pdf" target="_blank">Poster</a>, <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/abstracts/Grazulis_abstract_AXAA2011.pdf" target="_blank">Abstract</a>.
    </p>

    <p>L. Fuentes, D. Chateigner, G. Pepponi, S. Grazulis, G. Ramirez, I.Templeton, J. Hernandez, M. Lopez, A. Marquez, D. Sanchez. “Implementing graphic outputs for the Material Properties Open Database (MPOD)”.  Septimo Congreso de la Sociedad Mexicana de Cristalografia, 4-9 May 2014, Villahermosa, Mexico.  <a href="http://www.smcr.fisica.unam.mx/5eventos/pasados/2014/7_congreso/marco.htm" target="_blank">Invited contribution</a>.
    </p>

    <p>L E Fuentes-Cobas, D Chateigner, G Pepponi, A Munoz-Romero, G Ramirez-Amparan, IL Templeton-Olivares, D Sanchez-Aroche, J Hernandez-Montes, A Marquez de la Mora Nunez, M Lopez-Carrasco. “Implementing graphic outputs for the material properties open database (MPOD)”. International Union of Crystallography Congress (IUCr 2014), 5-12 Aug. 2014, Montreal, Canada.  Acta Cryst. (2014), A70, C1039. <a href="">Abstract</a>, <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/posters/Fuentes_poster_IUCr2014_MPOD.pdf" target="_blank">Poster</a>, <a href="http://www.ecole.ensicaen.fr/~chateign/danielc/pictures/IUCr2014/Marcos_Saulius_Luis_IUCr2014.jpg" target="_blank">Luis Fuentes-Montero, Saulius Grazulis, Luis Fuentes-Cobas (left to right) at work!</a>.
    </p>
    
    <br/>
    <h4>B) General References about Tensorial Material Properties</h4>

    <p>Authier A. (2003). International Tables for Crystallography, "Physical Properties of Crystals", Volume D, Published for IUCr, Kluwer Academic Publishers, 522 pages.</p>

    <p>Birss R.R. (1964). "Symmetry and Magnetism", North Holland, Amsterdam.</p>

    <p>Chateigner D. (2010). "Combined analysis", Wiley-ISTE, 496 pages.</p>
    
    <p>Fuentes-Cobas, L.; Fuentes-Montero, M.  (2008). “La Relación Estructura-Simetría-Propiedades en Cristales y Policristales”, Reverté Ediciones, México DF (190 pages).</p>
    
    <p>Hartmann E. “An introduction to crystal physics. Description of the physical properties of crystals”. <a href="http://www.iucr.org/education/pamphlets/18" target="_blank">http://www.iucr.org/education/pamphlets/18</a>.</p>
    
    <p>Hirao, M., Ogi H. (2003). "EMATs for Science and Industry", Kluwer, Boston.</p>

    <p>Kocks U.F., Tomé C.N., Wenk H.-R. (1998). "Texture and Anisotropy", Cambridge University Press, 676 pages.</p>
    
    <p>Koptsik V.A. (1966). "Shubnikov groups", Izd. MGU Pub., Moscow.</p>

    <p>Landau L.D., Lifshitz E.M. (1967). "Theory of Elasticity". Mir, Moscow. 207 pages.</p>
    
    <p>Meitzler, A.; Tiersten, H.; Warner, A.; Berlincourt, D.; Couqin, G.; Welsh, F., III. IEEE Standard on Piezoelectricity “ANSI/IEEE Std 176–1987”; The Institute of Electrical and Electronics Engineers, Inc.: New York, NY, USA, 1987.</p>
    
    <p>Migliori A., Sarro J. (1997). "Resonant Ultrasound Spectroscopy", Wiley-Interscience, New-York.</p>
    
    <p>Newnham, R.E. (2004). “Properties of Materials: Anisotropy, Symmetry, Structure”, Oxford Univ. Press, Oxford, 390pages.</p>
    
    <p>Nye J.-F. (1985), "Physical Properties of Crystals: their representation by tensors and matrices", Lavoisier publishers, 330 pages.</p>
    
    <p>Sirotine A., Chaskolskaia M. (1984). "Fondements de la physique des cristaux", MIR Publishers, Moscow. 695 pages.</p>
    
    <p>The Landolt-Börnstein Database. <a href="http://materials.springer.com/" target="_blank">http://materials.springer.com/</a>.</p>
    <br/>
  </div>
{% endblock %}
