{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} View Article {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
	<div class="content">
		<h3>View Article</h3>
		<br/>
		{% if publi_table %}
			{{publi_table|escape}}
		{% else %}
			Sorry! Article not found.
		{% endif %}
		
		<br/>
		{% if associated_datafiles %}
			{{associated_datafiles|escape}}
		{% else %}
			No Associated datafiles.
		{% endif %}
		<br/><br/>
	</div>
{% endblock %}